docker/nodered/flows.json
[
    {
        "id": "mcp-connect",
        "type": "mqtt in",
        "z": "flow-sae23",
        "name": "MQTT E101 (temperature + CO2)",
        "topic": "AM107/by-room/E101/data",
        "qos": "1",
        "broker": "mosquitto",
        "x": 120,
        "y": 80,
        "wires": [["parse-json-e101"]]
    },
    {
        "id": "parse-json-e101",
        "type": "json",
        "z": "flow-sae23",
        "name": "Parse JSON E101",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 80,
        "wires": [["temp-e101", "co2-e101"]]
    },
    {
        "id": "temp-e101",
        "type": "function",
        "z": "flow-sae23",
        "name": "Extract temperature",
        "func": "// Extract temperature from sensor payload (array format)\nvar data = msg.payload;\nif (Array.isArray(data) && data.length > 0) {\n    data = data[0];\n}\nif (data.temperature !== undefined) {\n    msg.payload = parseFloat(data.temperature);\n    msg.measurement = \"temperature\";\n    msg.tags = {\n        building: \"E\",\n        room: \"E101\",\n        sensor: \"AM107-E101-temp\"\n    };\n    msg.field = \"value\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 60,
        "wires": [["influxdb-out"]]
    },
    {
        "id": "co2-e101",
        "type": "function",
        "z": "flow-sae23",
        "name": "Extract CO2",
        "func": "// Extract CO2 from sensor payload (array format)\nvar data = msg.payload;\nif (Array.isArray(data) && data.length > 0) {\n    data = data[0];\n}\nif (data.co2 !== undefined) {\n    msg.payload = parseFloat(data.co2);\n    msg.measurement = \"co2\";\n    msg.tags = {\n        building: \"E\",\n        room: \"E101\",\n        sensor: \"AM107-E101-co2\"\n    };\n    msg.field = \"value\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [["influxdb-out"]]
    },
    {
        "id": "mcp-c101-temp",
        "type": "mqtt in",
        "z": "flow-sae23",
        "name": "MQTT C101 (temperature)",
        "topic": "AM107/by-room/C101/data",
        "qos": "1",
        "broker": "mosquitto",
        "x": 120,
        "y": 200,
        "wires": [["parse-json-c101"]]
    },
    {
        "id": "parse-json-c101",
        "type": "json",
        "z": "flow-sae23",
        "name": "Parse JSON C101",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 200,
        "wires": [["temp-c101"]]
    },
    {
        "id": "temp-c101",
        "type": "function",
        "z": "flow-sae23",
        "name": "Extract temperature C101",
        "func": "// Extract temperature from sensor payload\nvar data = msg.payload;\nif (Array.isArray(data) && data.length > 0) {\n    data = data[0];\n}\nif (data.temperature !== undefined) {\n    msg.payload = parseFloat(data.temperature);\n    msg.measurement = \"temperature\";\n    msg.tags = {\n        building: \"C\",\n        room: \"C101\",\n        sensor: \"AM107-C101-temp\"\n    };\n    msg.field = \"value\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 200,
        "wires": [["influxdb-out"]]
    },
    {
        "id": "mcp-c102-hum",
        "type": "mqtt in",
        "z": "flow-sae23",
        "name": "MQTT C101 (humidity)",
        "topic": "AM107/by-room/C102/data",
        "qos": "1",
        "broker": "mosquitto",
        "x": 120,
        "y": 280,
        "wires": [["parse-json-c102"]]
    },
    {
        "id": "parse-json-c102",
        "type": "json",
        "z": "flow-sae23",
        "name": "Parse JSON C102",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 280,
        "wires": [["hum-c102"]]
    },
    {
        "id": "hum-c102",
        "type": "function",
        "z": "flow-sae23",
        "name": "Extract humidity C102",
        "func": "// Extract humidity from sensor payload\nvar data = msg.payload;\nif (Array.isArray(data) && data.length > 0) {\n    data = data[0];\n}\nif (data.humidity !== undefined) {\n    msg.payload = parseFloat(data.humidity);\n    msg.measurement = \"humidity\";\n    msg.tags = {\n        building: \"C\",\n        room: \"C101\",\n        sensor: \"AM107-C101-hum\"\n    };\n    msg.field = \"value\";\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [["influxdb-out"]]
    },
    {
        "id": "influxdb-out",
        "type": "influxdb out",
        "z": "flow-sae23",
        "influxdb": "influxdb-config",
        "name": "InfluxDB",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "sae23",
        "x": 780,
        "y": 160,
        "wires": []
    },
    {
        "id": "mosquitto",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "influxdb-config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "sae23",
        "name": "InfluxDB",
        "usetls": false,
        "tls": ""
    }
]
