docker/nodered/flows.json
[
    {
        "id": "flow-sae23",
        "type": "tab",
        "label": "SAE23 Collecte",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt-am107",
        "type": "mqtt in",
        "z": "flow-sae23",
        "name": "AM107 sensors",
        "topic": "sensors/AM107/by-room/#",
        "qos": "1",
        "broker": "broker-local",
        "x": 150,
        "y": 100,
        "wires": [["json-parse"]]
    },
    {
        "id": "json-parse",
        "type": "json",
        "z": "flow-sae23",
        "name": "JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 100,
        "wires": [["extract-am107"]]
    },
    {
        "id": "extract-am107",
        "type": "function",
        "z": "flow-sae23",
        "name": "Extract AM107 data",
        "func": "var data = msg.payload;\nif (!Array.isArray(data) || data.length < 2) { return null; }\n\nvar mesures = data[0];\nvar meta = data[1];\nvar room = meta.room || 'unknown';\nvar building = meta.Building || 'X';\nvar floor = String(meta.floor || 0);\n\nvar messages = [];\nvar types = ['temperature', 'humidity', 'co2', 'illumination'];\n\nfor (var i = 0; i < types.length; i++) {\n    var t = types[i];\n    if (mesures[t] !== undefined) {\n        messages.push({\n            measurement: t,\n            payload: [\n                { value: parseFloat(mesures[t]) },\n                { building: building, room: room, floor: floor }\n            ]\n        });\n    }\n}\n\nreturn [messages];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 100,
        "wires": [["influx-out"]]
    },
    {
        "id": "influx-out",
        "type": "influxdb out",
        "z": "flow-sae23",
        "influxdb": "config-influx",
        "name": "InfluxDB",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "sae23",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "broker-local",
        "type": "mqtt-broker",
        "name": "Mosquitto local",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "config-influx",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "sae23",
        "name": "InfluxDB SAE23",
        "usetls": false,
        "tls": "",
        "username": "admin",
        "password": "sae23admin"
    }
]
